@import url('/css/general.css');

header img.logo{
    width: 55%;
    padding: 20px;
}


header form p{
    display: flex;
}

header nav ul {
    margin: 15px 0;
    display: none;
    
}

header nav li a{
    color: rgb(0, 0, 0);
}

header form {
    display: flex;
    padding: 20px;
}

header form a{
    background-color: #FFFFFF;
    border: 1px solid #666;
    border-radius: 2px;
    margin-left: 2px;
    color: black;

}

header p.compra{
    margin: 0 ;
    padding: 10px;
    text-align: center;
}

header nav {
    padding: 5px;
}

header nav a.btn-burger{
    width: 45px;
    padding: 5px;
    background-color: #1259C3;
    display:block;
    color:#ebebeb;
    font-size: 25px;
    margin: 10px auto 30px;
    text-align: center;
    border-radius: 5px;
}


main article{
    margin: 0; 
}

main article img {
    width: 100%;
    border-top: 1px solid #ebebeb;
}


main .banner {
    width: 100%;
}

main section .descuento {
    color: green;
}

main section .carrito {
    display: inline-block;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 5px;
}

main section article h4{
    display: none;
}

footer {
    background-color: white;
}

footer div {
    margin-bottom: 10px;
    text-align: center;
    font-size: 2em;
    color:#1259C3;
}

footer section h4 {
    color: #666;
}

footer section{
    color: #666;
    text-align: center;
    padding: 20px;
}


footer p {
    color: #666;
    padding: 0px 5px 20px;
}

@media (min-width: 361px){

    main section article h4{
        display: block;
    }

    header nav a.btn-burger{
        display: none;
    }

    header nav ul {
        display: block;
    }
    main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

@media (min-width: 769px){

    main section article h4{
        display: block;
    }

    header nav a.btn-burger{
        display: none;
    }

    header nav ul {
        display: block;
    }

    main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}


